/* commantaires:html */
html {
    font-size: 10px;
}

/* commantaires:body */
.gridbody {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(1rem, auto);
}
/* commantaires:commit header*/
.header {
    grid-column: 2 /12;
}
.title {
    background-color:rgb(13, 115, 146); text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 2rem;
    grid-column: 2 /5; height: 30rem; width: 30%; color: white; z-index: 2;
}
/* commantaires:commit navigation */
a:visited {
    color: rgb(6, 6, 19); font-size: 1.5rem;
}
a:link {
    text-decoration: aquamarine;
}
.appel {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: rgb(16, 16, 41);
    background-color:rgb(136, 255, 0) ; text: italic; font-size: 1.2rem;
}
.navclass {
grid-column: 4/13; text-align: right; font-family: sans-serif;
font-size: 1.2rem; color: rgb(6, 6, 19)
}
/* commantaires:image_header */
.background_site {
    grid-column: 2/12; z-index: 0;
}
/* commantaires:commit image header */
.pictureback {
    height: 30rem; width: 100%; ;
}


/* commantaires:main */
main {
    grid-column: 3 /8; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 1.5rem;
}
figure {
    grid-column: 3/8;
}
.team_medical {
    height: 30rem; width: auto;
}
/* commantaires:aside */
.right_blocs {
    background:cadetblue; margin: 1; padding: 2; border:10em; position: relative;
    grid-column: 9 /11; text-align: center; color: white;
    font-size: 2rem; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.alerte_image {
    height: 10rem; width: auto;
}
.bottom_blocs {
    text-align: center; color: blue; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/* commantaires:footer */
.footer {
    background: rgb(19, 19, 80); color: beige; text-align: center; font-family: 'Courier New', Courier, monospace; font-size: 1rem;
    margin-block: 5rem; padding: 2.5rem;
    grid-column: 2 /12;
}